{{# hamster }}
  {{# title }}Прайсы{{/ title }}
  {{!$this->breadcrumbs = array($this->pageTitle);}}

<h1>{{ title }}</h1>
{{/ hamster }}

{{# priceDownloadMenu }}
<section class="priceDownload">
  <a href="" id="priceDownloadLink">Скачать прайсы</a>
  <ul>
  {{# elements }}
    <li><a href="{{ link }}">{{ name }}</a></li>
  {{/ elements }}
  </ul>
</section>
{{/ priceDownloadMenu }}

{{# hamster.js }}
  {{! скрипт для анимации и отображения прайсов }}
  $(function() {
    $('#priceDownloadLink').click(function() {
      $(this).next().show('normal');
      $(this).remove();
      
      return false;
    });
  });
{{/ hamster.js }}

{{! выводим таблицу с прайсами }}
{{{ priceTable }}}