/* Статусы для магазина */
.status_draft {
  color:#c9c9c9;
}

.status_avaible {
  color:#76B348;
}

.status_unavaible {
  color:#FE5050;
}

.status_preorder {
  color:#19b6b8;
}

.status_outOfProduction {
  color:#c9c9c9;
}
