/* Прайсы */
.priceDownload ul, 
.priceDownload li {
  margin:10px;
  padding:0;
  display:block;
  float:left;
  overflow:hidden;
}

.priceDownload ul {
  display: none;
  float:none;
}

.priceDownload a {
  display:block;
  line-height: 28px;
  font-size: 15px;
  background:url('../images/icon_excel.png') no-repeat;
  padding-left: 40px;
  height: 30px;
  margin-right:20px;
}

/* Фильтр прайсов */
#priceFilter {
 padding:10px;
 display:block;
 width:auto;
}

#priceFilter input,
#priceFilter select {
  width: 100%;
}

#priceFilter .FilterRangeSlider {
  overflow:hidden;
  margin: 10px 0;
}

#priceFilter .FilterRangeSlider label {
  width: 50%;
  display:inline-block;
}

#priceFilter .FilterRangeSlider input {
  width:48%;
  margin: 0;
  padding: 4px 0;
  text-indent: 5px;
  float:right;
}

#priceFilter .FilterRangeSlider input:first-of-type {
  float:left;
}